In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("DataFrame Ready For Analysis.csv")
df

,Unnamed: 0.1,Content ID,Reaction Type,Datetime,Content Type,Category,Unnamed: 0,Sentiment,Score
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying,2,negative,0
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,Studying,11,negative,10
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,Studying,14,negative,15
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying,2,negative,0
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,Studying,4,positive,30
...,...,...,...,...,...,...,...,...,...
24568,24568,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,audio,technology,11,negative,10
24569,24569,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,audio,technology,12,positive,45
24570,24570,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 03:54:58,audio,technology,4,positive,30
24571,24571,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,audio,technology,15,negative,12
24572,24572,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,audio,technology,8,positive,70

In [2]:
df.Category.unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', 'Fitness', 'Veganism', 'Travel', 'Education',
       'Technology', 'Soccer', 'Culture', 'Food', 'Healthy Eating',
       'Science', 'Public Speaking'], dtype=object)

In [3]:
sd = pd.DataFrame({"Unique Categories":['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', 'Fitness', 'Veganism', 'Travel', 'Education',
       'Technology', 'Soccer', 'Culture', 'Food', 'Healthy Eating',
       'Science', 'Public Speaking']})

In [4]:
sd

   Unique Categories
0           Studying
1     healthy eating
2         technology
3               food
4            cooking
5               dogs
6             soccer
7    public speaking
8            science
9             tennis
10            travel
11           fitness
12         education
13          studying
14          veganism
15           Animals
16           animals
17           culture
18           Fitness
19          Veganism
20            Travel
21         Education
22        Technology
23            Soccer
24           Culture
25              Food
26    Healthy Eating
27           Science
28   Public Speaking

In [5]:
#sd.str.lower()

In [6]:
sd.drop_duplicates()

   Unique Categories
0           Studying
1     healthy eating
2         technology
3               food
4            cooking
5               dogs
6             soccer
7    public speaking
8            science
9             tennis
10            travel
11           fitness
12         education
13          studying
14          veganism
15           Animals
16           animals
17           culture
18           Fitness
19          Veganism
20            Travel
21         Education
22        Technology
23            Soccer
24           Culture
25              Food
26    Healthy Eating
27           Science
28   Public Speaking

In [7]:
df["Category"] = df["Category"].str.lower()

In [8]:
final = df.groupby('Category')['Score'].sum()

In [9]:
final.sort_values(ascending=False)

Category
animals            74965
science            71168
healthy eating     69339
technology         68738
food               66676
culture            66579
travel             64880
cooking            64756
soccer             57783
education          57436
fitness            55323
studying           54269
dogs               52511
tennis             50339
veganism           49619
public speaking    49264
Name: Score, dtype: int64

In [10]:
final.to_csv("Top Categories.csv")